<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.vsite.dipl.quicktimetable">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.location.gps"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAsHJQx4ITR-Op-cn2TIhuhcZYEmkb8iDE"/>

        <provider
            android:name=".QttContentProvider"
            android:authorities="hr.vsite.dipl.quicktimetable.provider"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".LocationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".downloader.OsmDownloadActivity"
            android:label="@string/title_activity_download"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>